.container-show {
  background-color: #9CB380;
  height: 700px;
  margin: 50px 200px;
  display: flex;
  padding: 20px;
  max-width: 850px;
  justify-content: space-around;
  color: #696969;

  @media only screen and (max-width: 992px)  {
    margin: 50px 150px;

  }
  @media only screen and (max-width: 768px)  {
    display: block;
    margin: 50px;
  }
  @media only screen and (max-width: 576px)  {
    display: block;
    margin: 50px 10px;
  }
}

.container-profile-details {
  background-color: #fff;
  height: 100%;
  width: 500px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  color: #696969;

  @media only screen and (max-width: 768px)  {
  width: 100%;
  height: 500px;
  }
}
