.chef-index {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("https://images.unsplash.com/photo-1479044769763-c28e05b5baa5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  padding-bottom: 12px;
  background-size: cover;
}

.empty-search-message {
  color: rgb(216, 219, 222);
  text-align: center;
}


