.booking-form {
  width: 370px;
  font-family: 'Muli', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.booking-title {
  font-family: 'Lobster', cursive;
  text-align: center;
  padding: 20px;
}

