


<div class="cards" id="grid">
  <% @chefs.each do |chef| %>
  <div class="card">
  <img class="avatar mx-3 my-3" alt="avatar-large" src="<%= chef.user.image %>"/>

  <div class="card-details">
    <p><strong><%= chef.name %></strong></p>
    <p><%= chef.specialty %></p>
    <div class="rating d-flex flex-row">
     <% chef.rating.to_i.times do %>
    <i class="fas fa-star"> </i>
    <% end %>
    </div>
  </div>
  <%= link_to "see more", chef_path(chef), class: "nav-link align-self-end" %>
  </div>
  <% end %>
</div>

