

<div class="container-show col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
  <img class="avatar-large my-5 mx-5" alt="avatar-large" src=" <%= @chef.user.image %> "/>
      <%= link_to "Book", new_chef_booking_path(@chef), class: "btn btn-success rounded-pill" %>
  <div class="container-profile-details">
    <h3>Hi I'm <%= @chef.name %></h3>
    <p> <%= @chef.description %></p>
    <br>
  <div class="reviews">
    <h4>My Reviews</h4>
      <br>
    <div class="card-review">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam </p>
    </div>
    <div class="card-review">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam </p>
    </div>
    <div class="card-review">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam </p>
    </div>
    <div class="card-review">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam </p>
    </div>
  </div>
</div>


