<div class="container">
  <div class="row">
    <div class="text-center">
      <h3> All done so... stay tuned! </h3>
      <hr>

        <div class="row">
          <div class="col-md-6">
            <img src="<%= @booking.chef.user.image%>" class = avatar-large %>
          </div>
          <div class="col-md-6">
              <div class="text-left">
              <h4> Reminder of your <strong id="red-word">booking details</strong></h4>
              <br>
                <table>
                 <tbody>
                    <tr>
                      <td> <h4><i class="fa fa-heart" aria-hidden="true"></i> </h4></td>
                      <td><h4> &nbsp; Your chef is <strong> <%= @booking.chef.name %> </strong></h4></td>
                    </tr>
                    <tr>
                      <td><h4> <i class="fas fa-drumstick-bite" aria-hidden="true"></i></h4></td>
                      <td><h4> &nbsp; You asked to hire a chef on <%=@booking.date.strftime('%A, %b %d') %> <br>  &nbsp;</h4></td>
                    </tr>
                    <tr>
                      <td><h4> <i class="fa fa-thumbs-up" aria-hidden="true"></i></h4></td>
                      <td><h4> &nbsp; The total price for your booking is free, because we didn't set a price yet!</h4></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
