<div class="my-bookings">
  <h3><%= current_user.name %>'s bookings</h3>
   <% @user.bookings.each do |booking| %>
      <div class="card" id = "booking-card"><%= booking.chef.name %>
      <img class="avatar mx-3 my-3" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"/> </div>
    <% end %>
</div>

