<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1>Two Tomatoes</h1>
      <p>Bring a chef to your home</p>
      <%= link_to "find a chef now", chefs_path, class: "btn-primary", id: "home-page-btn"%>
      </div>

  </div>
</div>
