
.banner {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  background-position: center;
  height: 600px;
  padding: 150px 0;
  margin: 0;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 32px;
  // font-family: sans-serif;
  font-family: lobster;
  font-size: 60px;
  text-align: center;
  margin: 0;
}

.banner p {
  font-size: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.banner-bottom {
  background-color: white;
  height: 400px;
}

