
.banner {
  background-color: #A6D498;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: #522A27;
  font-size: 32px;
  font-family: sans-serif;
}

.banner p {
  font-size: 20px;
  color: #522A27;
  font-family: 'Roboto', sans-serif;
}

.banner-bottom {
  background-color: white;
  height: 400px;
}
