.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 10px;
  margin: 40px 30px;
  justify-items: center;
}

.cards p {
  margin-top: 8px;
  width: 193px;
  color: #696969;
}

.card {
  height: 140px;
  width: 380px;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(black, .15);
  display: flex !important;
  flex-direction: row;
  color: black;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  transition: 0.4s;
}



.card-review {
  overflow: hidden;
  height: auto;
  width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  align-items: center;
  padding: 10px;
  margin-bottom: 12px;
}

#grid > div {
  background-color: white;
}

.card-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @media (min-width: 100px) and (max-width: 575px) {
    text-align: center;
  }
}

.see-more-btn {
  display: flex;
  margin-right: 15px;
  margin-top: 60px;

  @media (min-width: 100px) and (max-width: 575px) {
    margin-right: 120px;
  }
}

.card:hover {
  -webkit-transform: translateY(-0.6rem) scale(1.01);
  transform: translateY(-0.4rem) scale(1.01);
  }

.rating {
  color: rgb(234, 112, 112);

  @media (min-width: 100px) and (max-width: 575px) {
    margin-left: 55px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
