.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 10px;
  margin: 40px 30px;
  justify-items: center;
}

.card {
  height: 120px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex !important;
  flex-direction: row;
  color: black;
  align-items: center;
  justify-content: space-around;

.card-review {
  overflow: hidden;
  height: 120px;
  width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 12px;
}

#grid > div {
  background-color: white;
}

.card-details {
  display: flex;
  flex-direction: column;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
