.chef-form {
  width: 500px;
  margin: 0 auto;
}

.title-become-chef {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  text-align: center;
  color: white;
}

.chef-form {
  padding: 10px;
}


.chef-input {
  border-radius: 5px;
}

.chef-btn {
  width: 150px;
  margin: 0 auto;
  border-radius: 5px;
}

.btn-primary {
  border-radius: 10px;
}
