// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/navbar";
@import "components/header";
@import "components/banner";
@import "components/card";
@import "pages/index";
@import "pages/bookings";
@import "pages/review_form";
