<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= simple_form_for [ @booking, @review ], url: booking_reviews_path(@booking), method: :post do |form| %>
  <%= form.input :content, as: :text %>
  <%= form.input :rating%>
  <%= form.button :submit %>
<% end %>
